@import "./styles/ColorThemes.scss";
@import "./styles//FontStyle.scss";

.App {
  text-align: center;
}

.content-container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  background: var(--surface);
  align-content: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  padding-right: 36px;
  gap: 8px;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 425px;
  background: var(--background);
  color: var(--on-background);

  position: relative;
  box-sizing: border-box;

  .title {
    @extend .pretendard-semibold-24;
  }

  .explain {
    @extend .pretendard-regular-14;
    color: var(--on-surface);
  }

}

.color-btn-list {
  display: flex;
  gap: 8px;
  align-self: flex-end;
  margin-bottom: 24px;
}

.color-theme-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  background: var(--background);
  border: 1px solid var(--outline);
  border-radius: 50%;
  cursor: pointer;

  &.selected {
    border: 3px solid var(--primary);
  }
}

.canvas-parent {
  width: 100%;
  flex: 1;
  max-height: 100%;
  min-height: 100px;
  margin-bottom: 12px;
  flex-wrap: nowrap;
  border-radius: 4px;
  border: 1px solid var(--on-surface);
  position: relative;
  display: flex;
  box-sizing: border-box;

  .canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.clear-button {
  cursor: pointer;
  width: fit-content;
  height: 24px;
  align-self: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--on-background);
  background: transparent;
  @extend .pretendard-regular-14;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  
  .img {
    width: 12px;
    height: 12px;
  }
}

.bottom-button{
  cursor: pointer;
  width: 100%;
  height: 48px;
  background: var(--primary);
  color: var(--on-primary);
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
  @extend .pretendard-semibold-16;
}